@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
body {
  color: #fff;
  font-family: Courier, 'Hiragino Sans GB', 微软雅黑, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  background:#222129;
  overflow-x:none;
}

/* line 21, ../sass/screen.scss */
.countdown {
  margin: 30px auto;
  color: #bbc8d9;
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  width: 588px;
  margin-left: -294px;
}

/* line 30, ../sass/screen.scss */
.countdown .jl {
  background: url(../images/jl.png) no-repeat;
  width: 473px;
  height: 25px;
  margin: 0 auto;
}

/* line 36, ../sass/screen.scss */
.countdown span {
  font-family: Arial;
  display: inline-block;
  font-size: 50px;
  color: #3183e6;
  padding: 15px 8px;
  border-radius: 5px;
  margin: 0px 3px 0px 7px;
}

/* line 45, ../sass/screen.scss */
.skrollable {
  /*
   * First-level skrollables are positioned relative to window
   */
  position: fixed;
  /*
   * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
   */
  z-index: 102;
}

/* line 57, ../sass/screen.scss */
.skrollr-mobile .skrollable {
  /*
    May cause issues on Android default browser (see #331 on GitHub).
  */
  position: absolute;
}

/* line 64, ../sass/screen.scss */
.skrollable .skrollable {
  /*
   * Second-level skrollables are positioned relative their parent skrollable
   */
  position: absolute;
}

/* line 71, ../sass/screen.scss */
.skrollable .skrollable .skrollable {
  /*
   * Third-level (and below) skrollables are positioned static
   */
  position: static;
}

/* line 77, ../sass/screen.scss */
#container {
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MTYxYyIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjMjIyMTI5Ii8+PHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiMyMzIzMmQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzEyM2Y2NyIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNmU1MTkxIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiMzNTVjYTQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTk4YzciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #17161c), color-stop(30%, #222129), color-stop(45%, #23232d), color-stop(60%, #123f67), color-stop(70%, #6e5191), color-stop(85%, #355ca4), color-stop(100%, #4598c7));
  background-image: -webkit-linear-gradient(#17161c, #222129 30%, #23232d 45%, #123f67 60%, #6e5191 70%, #355ca4 85%, #4598c7);
  background-image: -moz-linear-gradient(#17161c, #222129 30%, #23232d 45%, #123f67 60%, #6e5191 70%, #355ca4 85%, #4598c7);
  background-image: -o-linear-gradient(#17161c, #222129 30%, #23232d 45%, #123f67 60%, #6e5191 70%, #355ca4 85%, #4598c7);
  background-image: linear-gradient(#17161c, #222129 30%, #23232d 45%, #123f67 60%, #6e5191 70%, #355ca4 85%, #4598c7);

}

/* line 83, ../sass/screen.scss */
ul.main {
  width: 100%;
}

/* line 86, ../sass/screen.scss */
ul.main li {
  width: 100%;
  height: 1000px;
}

/* line 90, ../sass/screen.scss */
#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 97, ../sass/screen.scss */
#nav span {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}

/* line 103, ../sass/screen.scss */
.rocket {
  /*background: url(../images/rocket.png) no-repeat;*/
  height: 336px;
  width: 172px;
  left: 50%;
  margin-left: -86px;
}
.start{
  background: url(../images/start.png) no-repeat;
  width: 291px;
  height: 170px;
  left: 70%;
}
#gototop{
  margin-left: 131px;
  margin-top: 11px;
  position: absolute;
}
.scroll{
  background: url(../images/scroll2.png) no-repeat;
  width: 124px;
  height: 59px;
  left: 50%;
  margin-left: -62px;
  top: 20px;
}
/* line 113, ../sass/screen.scss */
.main .cld0 {
  background: url(../images/cld0.png) no-repeat;
  width: 1021px;
  height: 365px;
  left: 50%;
  margin-left: -510px;
}
/* line 120, ../sass/screen.scss */
.main .cld1 {
  background: url(../images/cld1.png) no-repeat;
  width: 766px;
  height: 289px;
  left: 50%;
  margin-left: -383px;
}
/* line 127, ../sass/screen.scss */
.main .cld2 {
  background: url(../images/cld2.png) no-repeat;
  width: 474px;
  height: 163px;
  left: 50%;
  margin-left: -237px;
}
/* line 134, ../sass/screen.scss */
.main .cld3 {
  background: url(../images/cld3.png) no-repeat;
  width: 289px;
  height: 214px;
  left: 50%;
  margin-left: -145px;
}
.main .cld4{
  background: url(../images/cld4.png) no-repeat;
  width: 289px;
  height: 214px;
  left: 50%;
  margin-left: 120px;
}
.main .cld5{
  background: url(../images/cld5.png) no-repeat;
  width: 289px;
  height: 214px;
  left: 50%;
  margin-left: 120px;
}
/* line 141, ../sass/screen.scss */
.main .grd {
  background: url(../images/grd.png) no-repeat;
  width: 1836px;
  height: 268px;
  left: 50%;
  margin-left: -918px;
}

/* line 149, ../sass/screen.scss */
.main .jg1 {
  background: url(../images/jg1.png) no-repeat;
  width: 1653px;
  height: 287px;
  margin-top: 100px;
}
.main .bg1 {
  background: url(../images/bg01.png) no-repeat;
  width: 1653px;
  height: 663px;
  margin-top: 100px;
}
.main .bg2 {
  background: url(../images/bg02.png) no-repeat;
  width: 1653px;
  height: 663px;
  margin-top: 100px;
}
/* line 155, ../sass/screen.scss */
.main .jg2 {
  background: url(../images/jg2.png) no-repeat;
  width: 1653px;
  height: 287px;
  margin-top: 160px;
}
/* line 161, ../sass/screen.scss */
.main .jg3 {
  background: url(../images/jg3.png) no-repeat;
  width: 530px;
  height: 131px;
  left: 0;
  margin-top: 300px;
}
/* line 168, ../sass/screen.scss */
.main .jg4 {
  background: url(../images/jg4.png) no-repeat;
  width: 424px;
  height: 150px;
  right: 0;
  margin-top: 130px;
}
/* line 175, ../sass/screen.scss */
.main .sp1 {
  background: url(../images/sp1.png) no-repeat;
  width: 28px;
  height: 123px;
  top: 50%;
  margin-right: 50px;
  margin-top: 40px;
}
/* line 183, ../sass/screen.scss */
.main .sp1machine {
  background: url(../images/sp1machine.png) no-repeat;
  width: 793px;
  height: 177px;
  top: 40%;
  margin-right: 70px;
}
.main .sp2 {
  background: url(../images/sp2.png) no-repeat;
  width: 68px;
  height: 118px;
  margin-left: 30px;
  margin-top: 40px;
}
.main .sp2machine {
  background: url(../images/sp2machine.png) no-repeat;
  width: 926px;
  height: 290px;
  top: 30%;
  margin-top: -50px;
  margin-left: 80px;
}
/* line 205, ../sass/screen.scss */
.main .sp3 {
  background: url(../images/sp3.png) no-repeat;
  width: 75px;
  height: 266px;
  margin-left: 30px;
  margin-top: 0;
}
/* line 212, ../sass/screen.scss */
.main .sp3machine {
  background: url(../images/sp2machine.png) no-repeat;
  width: 720px;
  height: 290px;
  top: 40%;
  margin-top: -50px;
  margin-left: 60px;
}
/* line 220, ../sass/screen.scss */
.main .bird1 {
  background: url(../images/bird1.png) no-repeat;
  width: 130px;
  height: 133px;
  top: 20%;
  margin-left: 100px;
}
/* line 227, ../sass/screen.scss */
.main .bird2 {
  background: url(../images/bird2.png) no-repeat;
  width: 108px;
  height: 271px;
  top: 15%;
  margin-left: 80px;
}
/* line 234, ../sass/screen.scss */
.main .bird3 {
  background: url(../images/bird3.png) no-repeat;
  width: 417px;
  height: 140px;
  top: 20%;
}
/* line 240, ../sass/screen.scss */
.main .ytb1 {
  background: url(../images/ytb1.png) no-repeat;
  width: 72px;
  height: 60px;
  margin-top: 450px;
}
/* line 246, ../sass/screen.scss */
.main .ytb2 {
  background: url(../images/ytb2.png) no-repeat;
  width: 53px;
  height: 44px;
  margin-top: 350px;
  margin-right: 80px;
}
/* line 253, ../sass/screen.scss */
.main .jg5 {
  background: url(../images/jg5.png) no-repeat;
  width: 618px;
  height: 257px;
  left: 0;
  margin-top: 300px;
}
/* line 260, ../sass/screen.scss */
.main .jg6 {
  background: url(../images/jg6.png) no-repeat;
  width: 613px;
  height: 221px;
  right: 0;
  margin-top: 130px;
}
/* line 267, ../sass/screen.scss */
.main .pctg {
  background: url(../images/pctg.png) no-repeat;
  width: 1269px;
  height: 566px;
  right: 0;
}
.main .percentage2 {
  background: url(../images/pctg2.png) no-repeat;
  width: 1269px;
  height: 566px;
  right: 0;
}
/* line 273, ../sass/screen.scss */
.main .vista {
  background: url(../images/vista.png) no-repeat;
  width: 128px;
  height: 230px;
  left: 20%;
}
/* line 279, ../sass/screen.scss */
.main .moon1 {
  background: url(../images/moon1.png) no-repeat;
  width: 253px;
  height: 205px;
  left: 10%;
}
/* line 285, ../sass/screen.scss */
.main .moon2 {
  background: url(../images/moon2.png) no-repeat;
  width: 263px;
  height: 442px;
  right: 10%;
}
/* line 291, ../sass/screen.scss */
.main .ufo {
  background: url(../images/ufo.png) no-repeat;
  top: -80px;
  width: 801px;
  height: 373px;
  margin-left: -400px;
}
/* line 298, ../sass/screen.scss */
.main .tomato1 {
  background: url(../images/tomato.png) no-repeat;
  width: 251px;
  height: 139px;
  margin-left: -125px;
  left: 40%;
}
/* line 305, ../sass/screen.scss */
.main .tomato {
  background: url(../images/tomato-db.png) no-repeat;
  width: 374px;
  height: 366px;
  right: 10%;
}
/* line 311, ../sass/screen.scss */
.main .win7 {
  background: url(../images/win7.png) no-repeat;
  width: 303px;
  height: 446px;
  right: 10%;
}
/* line 317, ../sass/screen.scss */
.main .capsule {
  background: url(../images/capsule.png) no-repeat;
  width: 108px;
  height: 52px;
  left: 50%;
  margin-left: -54px;
}
/* line 324, ../sass/screen.scss */
.main .date-2001 {
  background: url(../images/date-2001.png) no-repeat;
  width: 146px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 331, ../sass/screen.scss */
.main .date-2002 {
  background: url(../images/date-2002.png) no-repeat;
  width: 169px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 338, ../sass/screen.scss */
.main .date-2004 {
  background: url(../images/date-2004.png) no-repeat;
  width: 200px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 345, ../sass/screen.scss */
.main .date-2007 {
  background: url(../images/date-2007.png) no-repeat;
  width: 184px;
  height: 217px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 352, ../sass/screen.scss */
.main .date-2008 {
  background: url(../images/date-2008.png) no-repeat;
  width: 189px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 359, ../sass/screen.scss */
.main .date-2008-2 {
  background: url(../images/date-2008-2.png) no-repeat;
  width: 300px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 366, ../sass/screen.scss */
.main .date-2009 {
  background: url(../images/date-2009.png) no-repeat;
  width: 250px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 373, ../sass/screen.scss */
.main .date-2011 {
  background: url(../images/date-2011.png) no-repeat;
  width: 280px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 380, ../sass/screen.scss */
.main .date-2013 {
  background: url(../images/date-2013.png) no-repeat;
  width: 302px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 387, ../sass/screen.scss */
.main .bluescreen {
  background: #2a56e7;
  width: 100%;
  height: 100%;
}
/* line 391, ../sass/screen.scss */
.main .bluescreen .text {
  background: url(../images/bluescreen-text.png) no-repeat;
  width: 957px;
  height: 188px;
  margin: 30px;
}
/* line 398, ../sass/screen.scss */
.main .jgend {
  background: url(../images/jgend.png) no-repeat;
  width: 1280px;
  height: 326px;
  left: 50%;
  margin-left: -640px;
}
/* line 405, ../sass/screen.scss */
.main .star {
  background: url(../images/star.png) no-repeat;
  width: 1013px;
  height: 313px;
  left: 50%;
  margin-left: -500px;
}
/* line 412, ../sass/screen.scss */
.main .footer {
  background: url(../images/footer.png) no-repeat;
  width: 1073px;
  height: 338px;
  left: 50%;
  margin-left: -530px;
}
/* line 419, ../sass/screen.scss */
.main .hellobye {
  background: url(../images/hellobye.png) no-repeat;
  width: 436px;
  height: 42px;
  left: 50%;
  margin-left: -218px;
}
/* line 426, ../sass/screen.scss */
.main .float {
  background: url(../images/float.png) no-repeat;
  width: 127px;
  height: 135px;
  left: 20%;
}
.main .float3 {
  background: url(../images/float_people.png) no-repeat;
  width: 190px;
  height: 201px;
  left: 30%;
}
.main .float4 {
  background: url(../images/float_people02.png) no-repeat;
  width: 190px;
  height: 201px;
  left: 50%;
}

/* line 432, ../sass/screen.scss */
.main .float2 {
  background: url(../images/float.png) no-repeat;
  width: 127px;
  height: 135px;
  right: 20%;
}
.main .virus1 {
  background: url(../images/virus1.png) no-repeat;
  width: 109px;
  height: 299px;
}
.main .virus2 {
  background: url(../images/virus2.png) no-repeat;
  width: 148px;
  height: 128px;
}
.main .virus3 {
  background: url(../images/virus3.png) no-repeat;
  width: 109px;
  height: 299px;
}
/* line 438, ../sass/screen.scss */
.main .table {
  background: url(../images/table.png) no-repeat;
  width: 1377px;
  height: 368px;
  left: 50%;
  margin-left: -695px;
}
/* line 445, ../sass/screen.scss */
.main .table-box {
  background: url(../images/box.png) no-repeat;
  width: 230px;
  height: 311px;
  left: 50%;
  margin-left: -115px;
  margin-top: -80px;
}
/* line 453, ../sass/screen.scss */
.main .winlogo {
  background: url(../images/winlogo.png) no-repeat;
  width: 189px;
  height: 150px;
  left: 50%;
  margin-left: -95px;
  top: 30%;
}
/* line 461, ../sass/screen.scss */
.main .loadinggif {
  background: url(../images/loadinggif.gif) no-repeat;
  width: 159px;
  height: 23px;
  left: 50%;
  margin-left: -80px;
  top: 60%;
}
/* line 469, ../sass/screen.scss */
.main .cmt0 {
  background: url(../images/cmt0.png) no-repeat;
  width: 385px;
  height: 68px;
  top: 20%;
  left: 50%;
  margin-left: -193px;
}
/* line 477, ../sass/screen.scss */
.main .hh1 {
  background: url(../images/hh1.png) no-repeat;
  width: 29px;
  height: 40px;
  margin-top: 50px;
  margin-left: 90px;
}
/* line 484, ../sass/screen.scss */
.main .hh2 {
  background: url(../images/hh2.png) no-repeat;
  width: 44px;
  height: 17px;
  margin-top: 88px;
  margin-left: 98px;
}
/* line 491, ../sass/screen.scss */
.main .hh3 {
  background: url(../images/hh3.png) no-repeat;
  width: 11px;
  height: 27px;
  margin-top: 88px;
  margin-left: 65px;
}
/* line 498, ../sass/screen.scss */
.main .hh4 {
  background: url(../images/hh4.png) no-repeat;
  width: 39px;
  height: 21px;
  margin-top: 18px;
  margin-left: 42px;
}
/* line 505, ../sass/screen.scss */
.main .hh5 {
  background: url(../images/hh5.png) no-repeat;
  width: 91px;
  height: 60px;
  margin-top: 98px;
  margin-left: 38px;
}
.main .door {
  background: url(../images/door.png) no-repeat;
  width: 15px;
  height: 28px;
  margin-top: 83px;
  margin-left: 42px;
}
/* line 512, ../sass/screen.scss */
.main .ie6 {
  /*background: url(../images/ie6.png) no-repeat;*/
  width: 41px;
  height: 122px;
  margin-top: 109px;
  margin-left: 15px;
}
/* line 519, ../sass/screen.scss */
.main .fire {
  background: url(../images/fire.png) no-repeat;
  width: 172px;
  height: 154px;
  margin-top: 159px;
  margin-left: 0px;
}
/* line 526, ../sass/screen.scss */
.main .rocket2 {
  background: url(../images/rocket-2.png) no-repeat;
  width: 164px;
  height: 188px;
  margin-left: 3px;
  position: absolute;
  z-index: 101;
}
/* line 533, ../sass/screen.scss */
.main .bling {
   background: url(../images/bling.png) no-repeat;
  width: 22px;
  height: 35px;
  position: absolute;
  z-index: 102;
  margin-left: 50px;
}
.main .bling2 {
  background: url(../images/bling.png) no-repeat;
  width: 107px;
  height: 57px;
  position: absolute;
  z-index: 103;
}
/* line 538, ../sass/screen.scss */
.main .win98 {
  background: url(../images/win98.png) no-repeat;
  width: 71px;
  height: 168px;
  right: 30%;
}
.main .people {
  background: url(../images/china_peopel1.png) no-repeat;
  width: 50px;
  height: 71px;
}
.main .watch_more{
  background: url(../images/watch_more_button.png) no-repeat;
  width: 119px;
  height: 34px;
  left: 50%;
  margin-left: -56px;
}
.main .watch_more:hover{
   background: url(../images/watch_more_button2.png) no-repeat;
   cursor: pointer;
}
.main .watch_more:active{
   background: url(../images/watch_more_button3.png) no-repeat;
   cursor: pointer;
}
.main .share,.main .sina,.main .wechat,.main .renren{
  width: 60px;
  height: 26px;
  left: 50%;
}
.main .sina{
  background: url(../images/sina_logo.png) no-repeat;
  width: 36px;
  height: 29px;
}
.main .wechat{
  background: url(../images/wechat_logo.png) no-repeat;
  width: 35px;
  height: 29px;
}
.main .renren{
  background: url(../images/renren.png) no-repeat;
  width: 48px;
  height: 26px;
}
.main .sina:hover{
  background: url(../images/sina_logo1.png) no-repeat;
}
.main .wechat:hover{
  background: url(../images/wechat_logo1.png) no-repeat;
}
.main .renren:hover{
  background: url(../images/renren1.png) no-repeat;
}
.main .sina:active{
  background: url(../images/sina_logo2.png) no-repeat;
}
.main .wechat:active{
  background: url(../images/wechat_logo2.png) no-repeat;
}
.main .renren:active{
  background: url(../images/renren2.png) no-repeat;
}
.main .share{margin-left: -110px;}
.main .sina{margin-left: -50px;}
.main .wechat{margin-left: 0px;}
.main .renren{margin-left: 50px;}
.main .people{
  margin-top: 156px;
}
.main .elc_fire{
   background: url(../images/elc_fire.png) no-repeat;
  width: 28px;
  height: 32px;
  position: absolute;
  z-index: 102;
  margin-left: 50px;
}
.main .startbtn{
  background: url(../images/startbtn.png) no-repeat;
  width: 60px;
  height: 63px;
}
.main .startbtn:hover{
 background: url(../images/startbtn1.png) no-repeat;
};
.main .startbtn:active{
 background: url(../images/startbtn2.png) no-repeat;
};