@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  color: #fff;
  font-family: Courier, 'Hiragino Sans GB', 微软雅黑, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMjMyZCIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjMWQzMDQzIi8+PHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiMzZDY2NjYiLz48c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzFmMmYzZCIvPjxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSIjMTIzZjY3Ii8+PHN0b3Agb2Zmc2V0PSI2NSUiIHN0b3AtY29sb3I9IiNhYTQ1MzUiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzM0MzI0ZSIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMzI1MDlkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDU5OGM3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #23232d), color-stop(30%, #1d3043), color-stop(35%, #3d6666), color-stop(45%, #1f2f3d), color-stop(55%, #123f67), color-stop(65%, #aa4535), color-stop(75%, #34324e), color-stop(90%, #32509d), color-stop(100%, #4598c7));
  background-image: -webkit-linear-gradient(#23232d, #1d3043 30%, #3d6666 35%, #1f2f3d 45%, #123f67 55%, #aa4535 65%, #34324e 75%, #32509d 90%, #4598c7);
  background-image: -moz-linear-gradient(#23232d, #1d3043 30%, #3d6666 35%, #1f2f3d 45%, #123f67 55%, #aa4535 65%, #34324e 75%, #32509d 90%, #4598c7);
  background-image: -o-linear-gradient(#23232d, #1d3043 30%, #3d6666 35%, #1f2f3d 45%, #123f67 55%, #aa4535 65%, #34324e 75%, #32509d 90%, #4598c7);
  background-image: linear-gradient(#23232d, #1d3043 30%, #3d6666 35%, #1f2f3d 45%, #123f67 55%, #aa4535 65%, #34324e 75%, #32509d 90%, #4598c7);
}

/* line 19, ../sass/screen.scss */
.skrollable {
  /*
   * First-level skrollables are positioned relative to window
   */
  position: fixed;
  /*
   * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
   */
  z-index: 100;
}

/* line 31, ../sass/screen.scss */
.skrollr-mobile .skrollable {
  /*
  	May cause issues on Android default browser (see #331 on GitHub).
  */
  position: absolute;
}

/* line 38, ../sass/screen.scss */
.skrollable .skrollable {
  /*
   * Second-level skrollables are positioned relative their parent skrollable
   */
  position: absolute;
}

/* line 45, ../sass/screen.scss */
.skrollable .skrollable .skrollable {
  /*
   * Third-level (and below) skrollables are positioned static
   */
  position: static;
}

/* line 51, ../sass/screen.scss */
#container {
  width: 100%;
  height: 10000px;
}

/* line 55, ../sass/screen.scss */
ul.main {
  width: 100%;
}

/* line 58, ../sass/screen.scss */
ul.main li {
  width: 100%;
  height: 1000px;
}

/* line 62, ../sass/screen.scss */
#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 69, ../sass/screen.scss */
#nav span {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}

/* line 75, ../sass/screen.scss */
.rocket {
  background: url(../images/rocket.png) no-repeat;
  height: 336px;
  width: 172px;
  left: 50%;
  margin-left: -86px;
}

/* line 74, part1/*.png */
.part1-sprite, .main .cld0, .main .cld1, .main .cld2, .main .cld3, .main .grd {
  background: url('/images/part1-s6619d79781.png') no-repeat;
}

/* line 86, ../sass/screen.scss */
.main .cld0 {
  background-position: 0 -473px;
  width: 1021px;
  height: 365px;
}
/* line 91, ../sass/screen.scss */
.main .cld1 {
  background-position: 0 -184px;
  width: 766px;
  height: 289px;
}
/* line 96, ../sass/screen.scss */
.main .cld2 {
  background-position: 0 -838px;
  width: 474px;
  height: 163px;
}
/* line 101, ../sass/screen.scss */
.main .cld3 {
  background-position: 0 -1001px;
  width: 289px;
  height: 214px;
}
/* line 106, ../sass/screen.scss */
.main .grd {
  background-position: 0 0;
  width: 1101px;
  height: 184px;
}
